<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="GeneralLayout"
            value="${date:format=dd-MM-yyyy HH\:mm\:ss.fff} ${uppercase:${level}} [${callsite:includeNamespace=False}] - ${message}${newline:when=length('${exception}')>0}${exception:format=tostring,StackTrace}" />

  <targets>
    <target xsi:type="File" name="LogFile" fileName="${basedir}/Logs/${shortdate}.log" layout="${GeneralLayout}" />
    <target name="Console" xsi:type="ColoredConsole" layout="${GeneralLayout}" useDefaultRowHighlightingRules="false">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="LogFile" final="true"/>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="Console" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
    <logger name="*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>